.btn-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 1;
  &.add-property {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $color2;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $color6;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.1s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $color2;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      visibility: hidden;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $color6;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      transition-delay: 0.2s;
      visibility: visible;
      color: $color6;
    }
  }
}

.btn-hs {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $color2;
  border-radius: 0.6em;
  color: $color2;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  &:hover,
  &:focus {
    color: $color1;
    outline: 0;
  }
}

.third {
  border-color: $color3;
  color: #fff;
  box-shadow: 0 0 40px 40px  $color1 inset, 0 0 0 0  $color1;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $color1 inset, 0 0 10px 4px  $color1;
  }
}

