.btn-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 1;
  &.add-property {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $color2;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $color6;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.1s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $color2;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      visibility: hidden;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $color6;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      transition-delay: 0.2s;
      visibility: visible;
      color: $color6;
    }
  }
}
.btn-laydown,
.btn-laydown::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-laydown {
  background: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(0,0,0, 0.7);
  color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 10px 0;
  padding: 1em 20px;
  position: relative;
  text-transform: uppercase;
}

.btn-laydown::before,
.btn-laydown::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-laydown:hover {
  color: #2ecc71;
  background: rgba(100,100,100,0.7);
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.next-btn, .prev-btn{
  cursor: pointer;
  position:relative;
  display:block;
  margin: 100px 0 0 100px;
  width:50px;
  height: 50px;
  border: solid 6px #999;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
  &:before, &:after{
    content:"";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:55%;
    background: #999;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
  }
  &:after{
    z-index: 3;
    top:59%;
    left:55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover{
    border: solid 8px #777;
    &:after, &:before{
      background: #777;
    }
  }
  &:active{
    border: solid 8px #111;
    &:after, &:before{
      background: #111;
    }
  }
}

.prev-btn{
  transform: rotate(180deg)
}


.button-save { 
  background: black;
  border: 3px solid #343436;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 15px;
  position: relative;
}

.button-save:hover { 
  background: #4d4d50;
}

.button-save--save:before {
  background: #fedd31;
  display: block;
  content: '';
  height: 2px;
  position: absolute;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
}