.container-editor-images {
  display: grid;
  grid-gap: 0.4rem;
  grid-template-columns: 1fr;
  padding: 5px;
  grid-template-areas: "grid-0" "grid-1" "grid-2" "grid-3" "grid-4" "grid-5";
  max-height: 75vh;
  margin: 0 auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 250px);
  grid-template-areas: ". grid-0 grid-0 grid-0 grid-0 . grid-1 grid-1 grid-1 grid-1 ." ". grid-0 grid-0 grid-0 grid-0 . grid-1 grid-1 grid-1 grid-1 ." ". grid-2 grid-2 grid-2 grid-2 . grid-3 grid-3 grid-3 grid-3 ." ". grid-2 grid-2 grid-2 grid-2 . grid-3 grid-3 grid-3 grid-3 ." ". grid-4 grid-4 grid-4 grid-4 . grid-5 grid-5 grid-5 grid-5 ." ". grid-4 grid-4 grid-4 grid-4 . grid-5 grid-5 grid-5 grid-5 .";
}

.container-editor-images span {
  max-height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.container-editor-images span .inputGroup {
  display: grid;
  grid-auto-flow: column;
}

.container-editor-images span .inputGroup div {
  z-index: 1;
  margin-right: 35px;
}

.container-editor-images span .inputGroup div i {
  width: 15px;
  height: 15px;
}

.container-editor-images span img {
  max-height: 85%;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
