.fa {
  z-index: -1;
  position: relative;
}

.garage-icon,
.bath-icon,
.fav-icon{
  width: 1.4em;
  height: 1.4em;
}
.price-icon, .bed-icon {
  width: 1em;
  height: 1em;
}
.bed-icon{
  margin-top: 2px;
}

.svg {
  path,
  polygon,
  rect,
  path {
    fill: black;
  }
  circle {
    stroke: black;
    stroke-width: 1;
  }
}

.fav-icon{
  margin-top: 3px;
}

.selected-fav{
  fill: $color5 !important
}

