.details-group{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .input-details{
        margin: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
    }
   .error-message{
       font-size: 0.9em;
   }
}