@import "../../assets/scss/libs/vars";

.tags-box {
  width: 100px;
  height: auto;
  padding: 5px;
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 200px;
  left: 0;
  padding-right: 5em;

  .tag{
    margin: 5px 0;
  }

  @media  (max-width: $tablet-width) {
    top: 75px;
    width: 100%;
    z-index: 5;
    background: transparent;
   }
}
