@import "../../assets/scss/libs/vars";

.email-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: $modal-bk;
  max-height: 500px;
  overflow: scroll;

  div {
    margin: 2px 1px;
  }

  .save {
    display: flex;
    justify-content: flex-end;

    .contact-submit {
        border: none;
      &:hover {
        color: $modal-color;
        background: $modal-bk-hover;
      }
    }
  }
}
