.hs-wrapper {
  height: 75vh;
  overflow: auto;
  width: 100%;
  position: relative;

  h1,
  h2 {
    font-size: 2em;
    padding: 20px;
    text-align: left;
  }

  .box-description {
    min-height: 100px;
    width: 50%;
    font-style: italic;
    padding: 20px;
    border: 1px solid red;
    margin-left: 5%;
    margin-top: 30px;
  }

  .box-details{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: 5%;
    margin-top: 20px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;

    .box-column{
      background-color: yellow;
      margin: 10px;
    }
    .box-details-icons{
      height: 40px;
      min-width: 150px;
      max-width: 200px;
      font-size: 1em;
      display: flex;

      svg {
        font-size: 1.3em;
      }

      p{ margin-top: 5px;}
    }
  }
}

.general-info {
  position: absolute;
  height: 50vh;
  width: 250px;
  top: 25%;
  left: 0;
  background: purple;
}

.visit-button {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.info-box {
  width: 80%;
  min-height: 40vh;
  display: flex;
  background: orange;
  margin: auto;
  justify-content: space-between;

  .map-container {
    background: blue;
    width: 50vmin;
    height: 300px;
    margin-left: 10%;
  }

  .contact-container {
    background: grey;
    width: 50vmin;
    height: 300px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .box-wrapper {
//   background: orange;
//   width: 60%;
//   margin: auto;
//   display: flex;
//   min-height: 20vh;
//   padding: 20px;
//   margin-bottom: 10px;
//   background: linear-gradient(to top right, red calc(50% - 1px), #aaa, purple calc(50% + 1px) )
// }

// .box-wrapper{
//   background-image: url('https://ik.imagekit.io/2agnc6wu5cbty/remaxportal/bg-card_GsehVK3Wf.svg');
//   width: 60%;
//   margin: auto;
//   display: flex;
//   padding: 20px;
// }
