.additional-icons{
    display: flex;
    max-height: 100px;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    // background: blue;
    margin-top: 25px;
}

.box-additional-info{
    margin-top: 25px;
}