.additional-icons{
    display: flex;
    max-height: 100px;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    // background: blue;
    margin-top: 25px;
    background: yellow;
    display: flex;
    flex-direction: column;
    
    .icon-box{
        background: red;
        width: 40px;
        height: 40px;
    }
}

.box-additional-info{
    margin-top: 25px;
}