@import "../../assets/scss/libs/vars";

.card-visit {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  right: 3%;
  z-index: 1;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 

  @media screen and (max-width: $tablet-width) {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;

  }

  header {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-title {
      font-size: 1.4em;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }

    .card-subtitle {
      font-size: 1.1em;
      font-weight: 500;
    }

    .card-rest {
      font-size: 1em;
      font-weight: 500;
    }
    span {
      margin: 5px;
    }

    .icon {
      padding: 20px;
      height: 100%;
      svg {
        padding: 5px;
        margin: auto;
        height: 50px;
        width: auto;
      }
    }
  }

  aside {
    display: flex;
    min-height: 70px;
    justify-content: flex-end;
    overflow: hidden;
  }
  main {
    max-height: 60%;
    margin-bottom: 10px;
    text-align: justify;
    margin: 10px 10px;

    .document-icon {
      height: 40px;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;

      .clickable-icon{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 100%;
      }
    }
    span {
      height: 30px;
      margin-right: 20px;
      width: 30px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
