.hs-wrapper {
  overflow: auto;
  width:90%;
  min-height: 80vh;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.map-container {
  background: blue;
  width: 60%;
  height: 350px;
  margin-top: 10px;
}

