.hs-wrapper {
  height: 75vh;
  overflow: auto;
  width:90%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.visit-button {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

