.hs-wrapper {
  height: 75vh;
  overflow: auto;
  width: 100%;
  position: relative;
}

.visit-button {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.extra-box {
  width: 300px;
  height: 200px;
  background: orange;
  margin-left: 5%;
}
