.main-container {
  width: 85%;
  padding-bottom: 100px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  z-index: -200 !important;
}

.cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
