.schedule-container{
  width: 100%;
  height: 90vh;
  overflow: scroll;
}

ul.main {
  list-style: none;
  max-width: 75%;
  margin: 20px auto;
  margin-top: 100px;
}
h3 {
  padding: 0;
  margin: 0;
}

.date {
  width: 17%;
  padding: 7% 1% 0 0;
  float: left;
}

.date h3 {
  font-size: 1.5em;
}

.date p {
  font-size: 0.8em;
}

.events {
  float: left;
  width: 80%;
  border-left: 1px solid #ccc;
  margin-top: 3%;
  padding-top: 3%;
}

.event-box {
  display: flex;
  justify-content: flex-end;
}

.events-detail {
  max-width: 400px;
  position: relative;
}

.confirmation-box {
  width: 10%;
  display: flex;
  i {
    margin: 10px;
  }
  .times {
    color: red;
  }
  .check {
    color: green;
  }
}

.visit-icon {
  position: relative;
  .hvr-icn {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.events-detail li {
  padding: 10px;
  border-bottom: 1px dashed black;
  line-height: 22px;
  transition: ease 0.4s all;
}

.events-detail li.denied {
  background: lightgrey;
}

.events-detail li.confirm {
  background: lightgreen;
}

.event-info {
  width: 90%;
}

.events-detail li:hover {
  background: #e9e9e9;
}

.event-time {
  font-weight: 900;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}

.event-location {
  font-size: 0.8em;
  margin-left: 70px;
}

@media all and (max-width: 641px) {
  .date {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .events {
    border: none;
    width: 100%;
    margin-top: 0;
  }

  .events-detail {
    padding: 0;
  }

  li.date p {
    margin: 0;
  }
}

.lbl-name {
  color: grey;
}

.lbl-property {
  color: lightcoral;
}
