@import "../../assets/scss/libs/vars";

.visit-modal {
  .visit-content {
    background: $modal-bk;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .visit-title,
  .visit-action {
    background: $modal-bk;
    h2 {
      font-family: $serif ;
    }
  }
}
