.user-card {
  width: 500px;
  padding: 30px;
  margin: 20px;
  position: relative;
  background:rgba(255,255,255,0.9);

  .name {
    font-size: 30px;
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
  }
  .name:first-letter {
    font-size: 300%;
  }

  .edit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }

  .save-box{
    display: flex;
    justify-content: flex-end;
    .save-user {
        background: #c2e59c;
        border: 0;
        padding: 5px;
        width: 80px;
        color: #333;
        outline: 0px solid transparent;
        border: 0px solid transparent;
        cursor: pointer;
        &:hover{
            background: #305706;
            color: white;

        }
      }
  }
  
}
