.container-editor-images {
  display: grid;
  grid-gap: 0.4rem;
  grid-template-columns: 1fr;
  padding: 5px;
  grid-template-areas:
    "grid-0"
    "grid-1"
    "grid-2"
    "grid-3"
    "grid-4"
    "grid-5";

  height: 70vh;
  max-height: 70vh;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  grid-template-rows: repeat(6, 250px);
  grid-template-areas:
    "grid-0 grid-1"
    "grid-0 grid-1"
    "grid-2 grid-3"
    "grid-2 grid-3"
    "grid-4 grid-5"
    "grid-4 grid-5";

  span {
    max-height: 100%;
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    img {
      height: 85%;
      width: 100%;
    }

    .rmv-photo,
    .set-cover {
      z-index: 1;
      position: relative;
      width: 20px;
      height: 100%;
      span {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
      }
    }

    .alt-input {
      width: 100%;
    }

    .active {
      filter: grayscale(100%);
    }
  }
}
