.container-editor-images {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-columns: 1fr;
    padding: 5px;
    grid-template-areas:
      "grid-0"
      "grid-1"
      "grid-2"
      "grid-3"
      "grid-4"
      "grid-5";
  
    height: 75vh;
    max-height: 75vh;
    margin: 0 auto;
    grid-template-columns: repeat(11, 1fr);
    overflow-y: auto;
    grid-template-rows: repeat(6, 250px);
    grid-template-areas:
      ". grid-0 grid-0 grid-0 grid-0 . grid-1 grid-1 grid-1 grid-1 ."
      ". grid-0 grid-0 grid-0 grid-0 . grid-1 grid-1 grid-1 grid-1 ."
      ". grid-2 grid-2 grid-2 grid-2 . grid-3 grid-3 grid-3 grid-3 ."
      ". grid-2 grid-2 grid-2 grid-2 . grid-3 grid-3 grid-3 grid-3 ."
      ". grid-4 grid-4 grid-4 grid-4 . grid-5 grid-5 grid-5 grid-5 ."
      ". grid-4 grid-4 grid-4 grid-4 . grid-5 grid-5 grid-5 grid-5 .";
  
    span {
      max-height: 100%;
      width: 100%;
      margin-bottom: 5px;
      position: relative;
  
      img {
        height: 85%;
        width: 100%;
      }
  
      .remove-photo,
      .set-cover {
        z-index: 1;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 20px;
        background: lightskyblue;
        right: -25px;
        font-size: 16px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
      //   border: 1px solid black;
      }
      .set-cover {
        top: 60px;
      }
  
      .active{
        border: 1px solid red;
      }
    }
  }
  